<div class="site-content">
  <div class="wrap">
    <p id="notice"><%= notice %></p>
    <div class="article">

      <header class="article-header">
        <h1 class="article-title"><%= @article.title %></h1>
        <p class="article-date">post: <%= @article.created_at =%>, update: <%= @article.updated_at =%></p>
      </header>
      <article class="article-content">
        <%= markdown(@article.body) %>
      </article>
      <footer class="article-footer">
        <%= link_to 'Edit', edit_article_path(@article) %>
      </footer>
    </div>
  </div>
</div>
