<div class="site-content">
  <div class="wrap">
    <p id="notice"><%= notice %></p>
    <div class="article">

      <header class="article-header">
        <h1 class="article-title"><%= @article.title %></h1>
        <p class="article-date">post: <%= @article.created_at =%>, update: <%= @article.updated_at =%></p>
      </header>
      <article class="article-content">
        <%= markdown(@article.body) %>
      </article>
      <footer class="article-footer">
        <%= link_to '一覧へ戻る', root_path %>
          <%  if current_user.present? && current_user.admin? %>
          | <%= link_to '編集する', edit_article_path(@article) %> |
          <%= link_to '削除する', article_path(@article), method: :delete, data: { confirm: '削除しますか？' } %>
        <% end %>
      </footer>
    </div>
  </div>
</div>
