<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>residenti ぶろぐ</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon-180x180.png">　
  </head>

  <body>
    <%= yield %>
  </body>
</html>
